= form_with model: [@training_temaplate, @workout], url: training_template_workouts_path, local: true do |form|
  = if @workout.errors.any?
    %div{:id => "error_explanation"}
      %h2
        = pluralize(@workout.errors.count, "error")
        prohibited this workout from being saved:
      %ul
        - @workout.errors.full_messages.each do |msg|
          %li
            = msg

  %p
    = form.label :name
    %br
    = form.text_field :name
  %p
    = form.label :day_number
    %br
    = form.number_field :day_number

  %p
    = form.submit
