%h2 Workouts
= link_to 'New Workout', new_training_template_workout_path(@training_template)

%table
  %tr
    %th Name
    %th Day Number
    %th{colspan: "3"}

  - @workouts.each do |workout|
    %tr
      %td
        = workout.name
      %td
        = workout.day_number
      %td
        = link_to 'Show', training_template_workout_path(@training_template, workout)
      %td
        = link_to 'Edit', edit_training_template_workout_path(@training_template, workout)
      %td
        = link_to 'Destroy', training_template_workout_path(@training_template, workout),
          method: :delete,
          data: { confirm: 'Are you sure?' }