%h2 Workouts
= link_to 'New Workout', new_training_template_workout_path(@training_template)
%br
= link_to 'New Workout Calender View', workouts_path #TODO (@training_template)

- header = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
%div{class: "row"}
  %div{class: "col-md-12"}
    %table{class: "calendar table table-bordered table-striped"}
      %tr
        - header.map do |day|
          %th= day
      %tr
        - [0,1,2,3,4,5].each do |week|
          %tr
            - [1,2,3,4,5,6,7].each do |day|
              %td
                = workout_day = day+(7*week)
                - @workouts.where(day_number: workout_day).map do |workout|
                  %li= link_to workout.name, training_template_workout_path(@training_template, workout)
