= form_with model: excercise, local: true do |f|
  = f.hidden_field :id
  %th= index + 1
  %th= f.select :measurement_metric, ["cals", "reps", "distance", "time", "max"], value: excercise.measurement_metric
  %th= f.number_field :measurement_value, value: excercise.measurement_value
  %th= f.select :weight_metric, ["kg", "lbs", "%", "RPE", "% of movement", "none"], value: excercise.weight_metric
  - if f.object.weight_metric == "% of movement"
    %th= f.text_field :placeholder
  %th= f.number_field :weight_value, value: excercise.weight_value, disabled: f.object.weight_metric == "none"
  %th= f.submit
  %th= link_to 'Delete', excercise_path(excercise), method: :delete, data: { confirm: 'Are you sure?' }
