= form_with model: block, local: true do |f|
  %table
    %tr
      %th= f.text_field :name, value: block.name
      -# sets count
      %th= "sets: #{block.excercises.count}"
      -# %th= f.number_field :sets, value: block.excercises.count
      %th= f.select :style, ["Fixed", "Variable"]
      %th= f.submit
      %th= link_to 'Delete', block_path(block), method: :delete, data: { confirm: 'Are you sure?' }

  = render "excercises/index", block: block
