= form_with model: block, local: true do |f|
  %table
    %tr
      %th= f.text_field :name, value: block.name
      %th= f.number_field :sets, value: block.sets
      %th= f.select :style, ["Fixed", "Variable"], value: block.style
      %th= f.submit
      %th= link_to 'Delete', block_path(block), method: :delete, data: { confirm: 'Are you sure?' }

  = render "excercises/index", block: block
