= form_with model: @training_template, local: true do |form|
  = if @training_template.errors.any?
    %div{id => "error_explanation"}
      %h2
        = pluralize(@training_template.errors.count, "error")
        prohibited this article from being saved:
      %ul
        = @training_template.errors.full_messages.each do |msg|
          %li
            = msg

  %p
    = form.label :name
    %br
    = form.text_field :name

  %p
    = form.submit
