%div{class: "container"}
  %h1 Listing Training Templates
  = link_to 'New Training Template', new_training_template_path

  %table
    %tr
      %th Name
      %th{colspan: "3"}

    - @training_templates.each do |template|
      %tr
        %td
          = template.name
        %td
          = link_to 'Show', training_template_path(template)
        %td
          = link_to 'Edit', edit_training_template_path(template)
        %td
          = link_to 'Destroy', training_template_path(template),
                method: :delete,
                data: { confirm: 'Are you sure?' }